<div [ngSwitch]="userType">
    <h2 *ngSwitchCase="'Customer'">Customer Interface:</h2>
    <h2 *ngSwitchCase="'Employee'">Employee Interface:</h2>
    <h2 *ngSwitchCase="'Administrator'">Administrator Interface:</h2>
</div>

<div *ngIf="userType == 'Customer'" [ngSwitch]="customerViewType">
<ul *ngSwitchCase="'Both'" class="items">
    <li (click)="onSelect(customerOptions[0].option_id)" [class.selected]="isSelected(customerOptions[0])">
        <span class="badge">1. </span> {{customerOptions[0].name}}
    </li>
    <li (click)="onSelect(customerOptions[1].option_id)" [class.selected]="isSelected(customerOptions[1])">
        <span class="badge">2. </span> {{customerOptions[1].name}}
    </li>
    <li (click)="onSelect(customerOptions[2].option_id)" [class.selected]="isSelected(customerOptions[2])">
        <span class="badge">3. </span> {{customerOptions[2].name}}
    </li>
    <li (click)="onSelect(customerOptions[3].option_id)" [class.selected]="isSelected(customerOptions[3])">
        <span class="badge">4. </span> {{customerOptions[3].name}}
    </li>
    <li (click)="onSelect(customerOptions[4].option_id)" [class.selected]="isSelected(customerOptions[4])">
        <span class="badge">5.</span> {{customerOptions[4].name}}
    </li>
</ul>

<ul *ngSwitchCase="'Films'" class="items">
    <li (click)="onSelect(customerOptions[0].option_id)" [class.selected]="isSelected(customerOptions[0])">
        <span class="badge">1. </span> {{customerOptions[0].name}}
    </li>
    <li (click)="onSelect(customerOptions[1].option_id)" [class.selected]="isSelected(customerOptions[1])">
        <span class="badge">2. </span> {{customerOptions[1].name}}
    </li>
    <li (click)="onSelect(customerOptions[3].option_id)" [class.selected]="isSelected(customerOptions[3])">
        <span class="badge">3. </span> {{customerOptions[3].name}}
    </li>
    <li (click)="onSelect(customerOptions[4].option_id)" [class.selected]="isSelected(customerOptions[4])">
        <span class="badge">4. </span> {{customerOptions[4].name}}
    </li>
</ul>

<ul *ngSwitchCase="'Series'" class="items">
    <li (click)="onSelect(customerOptions[0].option_id)" [class.selected]="isSelected(customerOptions[0])">
        <span class="badge">1. </span> {{customerOptions[0].name}}
    </li>
    <li (click)="onSelect(customerOptions[2].option_id)" [class.selected]="isSelected(customerOptions[2])">
        <span class="badge">2. </span> {{customerOptions[2].name}}
    </li>
    <li (click)="onSelect(customerOptions[3].option_id)" [class.selected]="isSelected(customerOptions[3])">
        <span class="badge">3. </span> {{customerOptions[3].name}}
    </li>
    <li (click)="onSelect(customerOptions[4].option_id)" [class.selected]="isSelected(customerOptions[4])">
        <span class="badge">4. </span> {{customerOptions[4].name}}
    </li>
</ul>
</div>