<div [ngSwitch]="userType">
  <nav class="navbar">
    <div *ngSwitchCase="'Customer'">
      <div [ngSwitch]="customerViewType">
        <ul *ngSwitchCase="'Both'" class="items">
          <li (click)="onSelect(customerOptions[0].option_id)" [class.selected]="isSelected(customerOptions[0])">
             {{customerOptions[0].name}}
          </li>
          <li (click)="onSelect(customerOptions[1].option_id)" [class.selected]="isSelected(customerOptions[1])">
             {{customerOptions[1].name}}
          </li>
          <li (click)="onSelect(customerOptions[2].option_id)" [class.selected]="isSelected(customerOptions[2])">
             {{customerOptions[2].name}}
          </li>
          <li (click)="onSelect(customerOptions[3].option_id)" [class.selected]="isSelected(customerOptions[3])">
             {{customerOptions[3].name}}
          </li>
          <li (click)="onSelect(customerOptions[4].option_id)" [class.selected]="isSelected(customerOptions[4])">
             {{customerOptions[4].name}}
          </li>
        </ul>

        <ul *ngSwitchCase="'Films'" class="items">
          <li (click)="onSelect(customerOptions[0].option_id)" [class.selected]="isSelected(customerOptions[0])">
             {{customerOptions[0].name}}
          </li>
          <li (click)="onSelect(customerOptions[1].option_id)" [class.selected]="isSelected(customerOptions[1])">
             {{customerOptions[1].name}}
          </li>
          <li (click)="onSelect(customerOptions[3].option_id)" [class.selected]="isSelected(customerOptions[3])">
             {{customerOptions[3].name}}
          </li>
          <li (click)="onSelect(customerOptions[4].option_id)" [class.selected]="isSelected(customerOptions[4])">
             {{customerOptions[4].name}}
          </li>
        </ul>

        <ul *ngSwitchCase="'Series'" class="items">
          <li (click)="onSelect(customerOptions[0].option_id)" [class.selected]="isSelected(customerOptions[0])">
             {{customerOptions[0].name}}
          </li>
          <li (click)="onSelect(customerOptions[2].option_id)" [class.selected]="isSelected(customerOptions[2])">
             {{customerOptions[2].name}}
          </li>
          <li (click)="onSelect(customerOptions[3].option_id)" [class.selected]="isSelected(customerOptions[3])">
             {{customerOptions[3].name}}
          </li>
          <li (click)="onSelect(customerOptions[4].option_id)" [class.selected]="isSelected(customerOptions[4])">
             {{customerOptions[4].name}}
          </li>
        </ul>
      </div>
    </div>

    <div *ngSwitchCase="'Employee'">
      <h2>Employee Interface:</h2>
      <ul class="items">
        <li (click)="onSelect(employeeOptions[0].option_id)" [class.selected]="isSelected(employeeOptions[0])">
           {{employeeOptions[0].name}}
        </li>
        <li (click)="onSelect(employeeOptions[1].option_id)" [class.selected]="isSelected(employeeOptions[1])">
           {{employeeOptions[1].name}}
        </li>
        <li (click)="onSelect(employeeOptions[2].option_id)" [class.selected]="isSelected(employeeOptions[2])">
           {{employeeOptions[2].name}}
        </li>
        <li (click)="onSelect(employeeOptions[3].option_id)" [class.selected]="isSelected(employeeOptions[3])">
           {{employeeOptions[3].name}}
        </li>
        <li (click)="onSelect(employeeOptions[4].option_id)" [class.selected]="isSelected(employeeOptions[4])">
           {{employeeOptions[4].name}}
        </li>
      </ul>
    </div>

    <div *ngSwitchCase="'Administrator'">
      <h2>Administrator Interface:</h2>
      <ul class="items">
        <li (click)="onSelect(administratorOptions[0].option_id)" [class.selected]="isSelected(administratorOptions[0])">
           {{administratorOptions[0].name}}
        </li>
        <li (click)="onSelect(administratorOptions[1].option_id)" [class.selected]="isSelected(administratorOptions[1])">
           {{administratorOptions[1].name}}
        </li>
        <li (click)="onSelect(administratorOptions[2].option_id)" [class.selected]="isSelected(administratorOptions[2])">
          {{administratorOptions[2].name}}
        </li>
        <li (click)="onSelect(administratorOptions[3].option_id)" [class.selected]="isSelected(administratorOptions[3])">
           {{administratorOptions[3].name}}
        </li>
      </ul>
    </div>
  </nav>

</div>
<router-outlet></router-outlet>