
* {
  background-color: #454545;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-top: 2em;
  background-color: #454545;
  color: #fff;
}
.nav-links a {
  color: #fff;
}



/* LOGO */
.logo {
  padding-left: 11px;
  text-shadow: 2px 2px 2px red;
  color: #ab3a42;
  background: #454545;
  font-size: 38px;
}

/* NAVBAR MENU */
.items {
  font-weight: bold;
  background-color: #454545;
  display: flex;
  gap: 1em;
  font-size: 22px;
}

 .material-icons {
   font-variation-settings:
     'FILL' 0,
     'wght' 600,
     'GRAD' 0,
     'opsz' 48
 }

.items li:hover {
  font-weight: bolder;
  color: #fa0213;
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}
.items li {
  background-color: #454545;
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #4c9e9e;
}
.services:hover .dropdown {
  display: block;
}
